CORPUS_FILENAME = "/path/to/corpus.txt";

EMAIL = "user@example.com";
PASSWORD = "discord_password";
INVITE = "https://discord.gg/inviteid";

MARKOVCMD = "!tbpmarkov";
MARKOVADDCMD = "!tbpaddmarkov";
MARKOVRELOADCMD = "!tbpreloadmarkov";
ELEVATED_USERS = ["DiscordUser10293", "DiscordUser10294"];