CORPUS_FILENAME = "/path/to/corpus.txt";

EMAIL = "user@example.com";
PASSWORD = "discord_password";
INVITE = "https://discord.gg/inviteid";

CMD_START = "!tbp";

PHRASES_URL = "http://phrases.example.com/?raw=1";

ELEVATED_USERS = ["DiscordUser10293", "DiscordUser10294"];

class Commands():
	def __init__(self):
		self.commands = {
			"markov": [
				"add",
				"reload",
				"stats"
			],
			"phrase": []
		};

	def __str__(self):
		output = ""
		for cmd, sublist in self.commands.items():
			output += cmd + ":\n";
			output += ', '.join(i for i in sublist);
			output += "\n";

		return output.strip();

	def isCommand(self, command=None, subcommand=None):
		if command:
			if command in self.commands:
				if subcommand:
					if subcommand in self.commands[command]:
						return True;
				else:
					return True;

		return False;