CORPUS_FILENAME = "/path/to/corpus.txt";

EMAIL = "user@example.com";
PASSWORD = "discord_password";
INVITE = "https://discord.gg/inviteid";

CMD_START = "!tbp";

ELEVATED_USERS = ["DiscordUser10293", "DiscordUser10294"];

class Commands():
	def __init__(self):
		self.commands = {
			"markov": [
				"add",
				"reload",
				"stats"
			];
		};

	def isCommand(self, command=None, subcommand=None):
		if command:
			if command in self.commands:
				if subcommand:
					if subcommand in self.commands[command]:
						return True;
				else:
					return True;

		return False;